@keyframes shake {
	0%,
	100% {
		transform: translate(-50%, -50%);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate(-51%, -50%);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translate(-49%, -50%);
	}
}

.page-main {
	position: relative;
	height: 100vh;
}

.page-main__error {
	animation: shake 0.6s;
}

.page-main__form {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-main__img {
	margin-bottom: 38px;
}

.page-main__text,
.page-main__password,
.page-main__submit {
	display: block;
	width: 296px;
	margin-bottom: 16px;
	padding: 11px 20px;
	font-size: 16px;
	line-height: 20px;
	color: #9496A6;
	border: 1px solid #CBCBCB;
	border-radius: 10px;
}

.page-main__submit {
	margin-bottom: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background: #D6073D;
	border: 1px solid #D6073D;
	transition: all 0.4s ease;
	
	&:hover {
		background: #d6073da6;
		border: 1px solid #d6073da6;
	}
}

@media (min-width: 400px) { 
	.page-main__img {
		margin-bottom: 43px;
	}

  .page-main__text,
	.page-main__password,
	.page-main__submit {
		width: 358px;
	}

	.page-main__submit {
		margin-bottom: 0;
	}
}